<!-- CMPS3162 - Final Project
Joanne Yong & Rene Sanchez
2019120152  & 2018118383 -->

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
</head>
<body>  
    <header>
        <h1><a href="/">Movie Ratings</a></h1>
    </header>
    <nav>
        <div>
            <a href="/">Home</a>
            {{ if .IsAuthenticated }}
            <a href="/movie/create">Create Movie Rating</a>
            {{ end }}
        </div>
        <div>
            {{ if .IsAuthenticated }}
            <form action="/user/logout" method="POST">
                <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                <button>Logout</button>
            </form>
            {{ else }}
            <a href="/user/signup">Signup</a>
            <a href="/user/login">Login</a>
            {{ end }}
        </div>
    </nav>
    <form action="/user/login" method="POST" nonvalidate>  
        <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
        {{ with .ErrorsFromForm.default }}
            <div class="error">{{ . }}</div>
        {{end}}

        <div>
            <label>Email:</label>
            <input type="email" name="email" value="{{ .FormData.Get "email" }}">
        </div>

        <div>
        <label>Password:</label>
        <input type="password" name="password">
        </div>

        <div>
        <input type="submit" value="Login">
        </div>
    </form>
    <hr>
    <footer>
         <p>
            <a href="mailto:2018118383@ub.edu.bz">2018118383@ub.edu.bz</a><br>
            <a href="mailto:2019120152@ub.edu.bz">2019120152@ub.edu.bz</a>
        </p>
    </footer>
</body>
</html>